@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* setting css */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {}


/* Header */

.infor_comp {
    width: 100%;
    height: 50px;
    background-color: #348E38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 68px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.address,
.header-social,
.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-dersc,
.email-dersc {
    margin-left: 10px;
}

.social-icons {
    margin-left: 10px;
}

.social-icon {
    padding: 0px 8px;
}


/* Header  */

.header {
    width: 100%;
    background-color: #E8F6E9;
    position: relative;
    top: 0;
    z-index: 1;
    /* transition: all .4s ease-in; */
}


/* animation */

.navbar-fixed {
    animation: mymove 0.5s ease-in;
}

@keyframes mymove {
    from {
        top: -30px;
    }
    to {
        top: 0px;
    }
}

.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
}

.nav__menu {
    width: 567px;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin-right: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fa-chevron-down {
    font-size: 11px;
    font-weight: 520;
    margin-left: 2px;
}

.nav__item {
    font-size: 17px;
    color: #0f4229;
    transition: all .3s;
    font-weight: 520;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


/* Hover animated link */

.nav__item:before {
    content: "";
    background-color: #348E6B;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    height: 3.5px;
    width: 0;
    transition: all 0.4s ease;
}

.animation .nav__item:before {
    left: 50%;
    transform: translateX(-50%);
}

.animation .nav__item:hover:before {
    width: 100%;
}

.nav__item:hoveR {
    color: #348E6B;
}

.nav__icons {
    width: 150px;
    height: 100px;
    display: grid;
    place-items: center;
    padding: 0px 5px;
}

.nav__icons-list {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 17px;
    color: #348E38;
    display: grid;
    place-items: center;
    margin: 0px 10px 0px 0px;
    position: relative;
}

.total__cart {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -8px;
    left: 33px;
    font-size: 13px;
    color: #fff;
    border: none;
}


/* dropdown list */

.dropdown__list {
    width: 230px;
    text-align: center;
    position: absolute;
    top: 110px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown__list:before {
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.dropdown__item {
    padding: 10px 20px;
    border-bottom: 0.4px solid rgb(232, 226, 226);
    background-color: #fff;
    position: relative;
}

.dropdown__item:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6.5rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    transform: translateY(-100%);
}

.dropdown__item:last-child {
    border-radius: 0px 0px 5px 5px;
    border: none;
}

.dropdown__item:first-child {
    border-radius: 5px 5px 0px 0px;
}

.dropdown__link {
    font-size: 15px;
    transition: all .3s;
    color: #0f4229;
    transition: all .3s;
    font-weight: 510;
}

.dropdown__link:hover {
    color: #348E6B;
}

.nav__link:hover .dropdown__list {
    display: block;
    animation: fade_up .5s ease;
}


/* animation */

@keyframes fade_up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


/* banner */

.banner {
    width: 100%;
    height: 350px;
    background-size: 100%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content-tittle {
    font-size: 60px;
    color: #fff;
}

.banner__content-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.banner__content-add hr {
    height: 20px;
}

.banner--link {
    padding: 20px 10px;
    font-size: 18px;
    color: #A5B8AB;
    transition: all .3s;
}

.banner--link:hover {
    color: #fff;
}


/* MAIN -- CONTENT */

.content {
    margin-top: 100px;
    overflow: hidden;
}

.news {
    padding: 0px 76px;
}

.new {
    margin-bottom: 64px;
    width: 740px;
    height: auto;
    background-color: #F8F8F8;
}

.new__img {
    position: relative;
    width: 100%;
    height: 432px;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.new__time {
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 174px;
    height: 40px;
    background-color: #348E38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new__time-icon {
    margin-right: 5px;
}

.new__time-icon,
.new__time-date {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.new__content {
    margin: 0px 30px;
}

.new__infors {
    padding-top: 15px;
    width: 100%;
    display: flex;
}

.new__infor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.new__infor-icon {
    margin-right: 3px;
}

.new__infor-icon,
.new__infor-desc {
    font-size: 15px;
    font-weight: 400;
    color: #348e38;
    letter-spacing: 0.5px;
}

.new__tittle {
    font-size: 30px;
    letter-spacing: 0.5px;
    padding: 10px 0px;
}

.new__desc {
    font-size: 15px;
    font-weight: 390;
}

.new__links {
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.new__link {
    font-size: 14px;
    font-weight: 700;
    color: #348e38;
    transition: all .3s;
}

.new__links-icon {
    font-size: 14px;
    color: #348e38;
    margin-left: 5px;
    transition: all .3s;
    cursor: pointer;
}

.new__links:hover .new__links-icon {
    transform: translateX(5px);
}

.page {
    width: 100%;
    margin: 0px 0px 50px 0px;
}

.page__links {
    display: flex;
}

.page__item {
    width: 60px;
    height: 60px;
    background-color: #E8F5E9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    margin-right: 10px;
}

.page__link {
    font-size: 15px;
    color: #000;
    font-weight: normal;
    transition: all .3s;
}

.page__item:hover {
    background-color: #348E38;
}

.page__item:hover .page__link {
    color: #fff;
}


/* Search */

.search {
    margin-top: 10px;
    width: 100%;
}

.sreach__tittle {
    padding: 10px 0px;
}

.search__form {
    max-width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.search__form-group {
    height: 100%;
    flex: 1;
    padding: 20px 20px;
    font-size: 16px;
    border: 2px solid #EAEAEA;
    color: #000;
    font-weight: 470;
}

.search__form-btn {
    position: absolute;
    width: 80px;
    right: 0;
    height: 100%;
    background-color: #008000;
    color: #fff;
    font-size: 16px;
}


/* category */

.category {
    margin: 50px 0px;
    width: 100%;
}

.category__lists {
    width: 100%;
    margin-top: 15px;
}

.category__item {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 12px 24px;
    margin: 15px 0px;
    transition: all .4s;
}

.category__name {
    font-size: 15px;
    font-weight: 600;
    transition: all .4s;
    color: #222;
}

.category__item:hover {
    border: 1px solid #348e38;
}

.category__item:hover .category__name {
    color: #348e38;
}

.card {
    width: 350px;
    background-color: #348E38;
    border-radius: 5px;
}

.card__img {
    width: 100%;
    height: auto;
}

.card__img-de {
    width: 100%;
    object-fit: cover;
}

.card__contacts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 30px;
}

.card__num,
.card__email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__num-phone,
.card__email-phone {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #A5B8AB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.card__num {
    margin: 20px 0px;
}

.card__num-desc,
.card__email-desc {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

#goTop {
    bottom: 200px;
    cursor: pointer;
    display: none;
    height: 35px;
    position: fixed;
    right: 50px;
    width: 44px;
    z-index: 1000000;
}

.bx-chevron-up {
    text-align: center;
    background-color: #348e38;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    font-size: 40px;
}