@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    border: none;
}

body {
    margin: 0 auto;
}


/* garden */

.garden {
    margin-bottom: -10px;
    margin-top: 80px;
}

.garden1 {
    display: flex;
    align-items: center;
}

.garden1>span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

.garden_trai {
    padding-top: 100px;
}

.garden_trai>p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #0f4229;
    font-size: 55px;
    font-weight: bold;
}

.btn_garden {
    display: flex;
}

.btn_garden1 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 60px;
    background-color: #348e38;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_garden2 {
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    height: 60px;
    background-color: #ece1e1;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* svg */

.svg {
    z-index: 100;
    margin-bottom: -310px;
}


/* offer */

.offer {
    padding-top: 80px;
    color: white;
    margin-top: 100px;
    height: 750px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 120px;
}

.offer>p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.offer1 {
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 100%;
    height: 260px;
    background-color: white;
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.offer1>p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    color: black;
    margin: 0px;
    margin-bottom: 10px;
}

.offer1>span {
    line-height: 30px;
    font-size: 18px;
    color: grey;
}

.read_more {
    margin-top: 20px;
}

.read_more a {
    font-weight: bold;
    color: black;
}

.offer1_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #348e38;
    border-radius: 50%;
    top: -60px;
    left: 80px;
}

.offer1_circle>i {
    font-size: 50px;
}


/* about */

.about {
    margin-top: 60px;
}

.about1 {
    display: flex;
    align-items: center;
}

.about1>span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.about_phai>p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #0f4229;
    font-size: 38px;
    font-weight: bold;
}

.about_phai>span {
    line-height: 30px;
    color: gray;
    font-size: 17px;
}

.about2 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 530px;
    height: 130px;
    background-color: #f0f0f0;
    padding: 30px;
}

.about2_icon>i {
    margin-right: 20px;
    font-size: 80px;
    color: #348e38;
}

.about2_content>p {
    font-weight: bold;
    margin-top: 0px;
    font-size: 22px;
}

.about2_content>span {
    line-height: 30px;
}

.about_img>img {
    width: 97%;
}


/* Service */

.service {
    margin-top: 100px;
    padding-top: 60px;
    height: 900px;
    background-color: #f0f0f0;
}

.service>p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.services {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.services_box {
    width: 23%;
    height: 460px;
}

.services_box_top {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    background-color: white;
    align-items: center;
}

.services_box_top>i {
    margin-right: 20px;
    font-size: 80px;
    color: #348e38;
}

.services_box_top>p {
    font-weight: bold;
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: -20px;
}

.services_box_top>span {
    font-size: 20px;
    text-align: center;
}

.services_box_bot {
    height: 40%;
}

.services_box_bot>img {
    width: 100%;
}


/* recore */

.recore {
    color: white;
    height: 230px;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.recore1 {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.recore1>p {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.recore1_top>i {
    font-size: 50px;
    margin-right: 5px;
}

.recore1_top>p {
    font-weight: bold;
    font-size: 35px;
}

.recore1_top {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* team */

.team {
    margin-top: -60px;
}

.p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.team_img>img {
    object-fit: cover;
    width: 270px;
    height: 270px;
}

.team_img {
    position: relative;
    width: 100%;
    height: 270px;
}

.team_name {
    z-index: 2;
    position: absolute;
    left: 35px;
    bottom: -40px;
    background-color: #f0f0f0;
    width: 200px;
    height: 80px;
    transition: ease .40s;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.team_name_content {
    padding-top: 10px;
    text-align: center;
}

.team_name_content>p {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.team_name_content>b {
    font-weight: normal;
}

.team_img:hover>.team_name {
    background-color: #348e38;
    color: white;
    width: 100%;
    left: 0;
}

.team_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #348e38;
    transition: all linear 0.35s;
    transform: translateX(30%);
    opacity: 0;
}

.team_img:hover>.team_contact {
    transform: translateX(0%);
    opacity: 1;
}

.team_contact>a {
    margin-top: -30px;
    color: white;
    font-size: 25px;
}


/* hinh anh garden */

.img_garden {
    display: flex;
    justify-content: space-evenly;
    margin-top: 180px;
    height: 450px;
}

.img_garden1 {
    padding-top: 340px;
    height: 100%;
    width: 23%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all ease 0.35s;
    position: relative;
}

.img_garden1:hover {
    background-size: 106%;
}

.img_garden1_content {
    color: white;
    text-align: center;
}

.img_garden1_content>p {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.img_garden1_content>b {
    font-weight: normal;
}


/* feedback */

.bg_feedback {
    padding-top: 300px;
    margin-top: -160px;
    width: 100%;
    height: 850px;
    background-color: #348e38;
}

.feedback {
    display: flex;
    width: 100%;
    height: 670px;
}

.feedback_img {
    width: 40%;
    height: 100%;
}

.feedback_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feedback_content {
    padding-left: 100px;
    padding-top: 100px;
    background-color: #0f4229;
    width: 60%;
    height: 100%;
}

.feedback_content>b {
    font-weight: normal;
    color: white;
    font-size: 20px;
}

.feedback_content>p {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.feedback_box {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 470px;
    height: 280px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.feedback_box>p {
    text-align: justify;
}

.client_feedback {
    display: flex;
    align-items: center;
}

.client_feedback p {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.client_feedback b {
    font-weight: normal;
}

.client_feedback>img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}


/* new and blog */

.new_blog {
    margin-top: 260px;
}

.new_blog>p {
    text-align: center;
    font-size: 22px;
    margin-bottom: -20px;
}

.new_blog>h1 {
    color: #0f4229;
    margin-bottom: 60px;
}

.box_new {
    width: 100%;
    height: 480px;
}

.box_new_top {
    width: 100%;
    height: 50%;
}

.box_new_top>img {
    width: 100%;
    object-fit: cover;
}

.box_new_content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 40%;
    border: 1px solid gray;
}

.box_new_content>b {
    font-size: 22px;
}

.box_new_content>p {
    color: gray;
}

.box_new_bot>hr {
    height: 100%;
}

.box_new_bot {
    color: gray;
    justify-content: center;
    padding: 0px 20px;
    align-items: center;
    display: flex;
    height: 13%;
    width: 100%;
    border: 1px solid gray;
}